@import url("../components/header.css");

header {
    padding: 0 1.5%;
}

* {
    scrollbar-width: auto;
    scrollbar-color: #ebebeb #ffffff;
}
*::-webkit-scrollbar {
    width: 9px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #ebebeb;
    border-radius: 10px;
    border: 3px solid #ffffff;
}
.red-text { 
    color: #fe2c55;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: calc(100vh - 60px);
    background-color: #f8f8f8;
    overflow: hidden;
}
section:hover {
    overflow-y: scroll;
}
#intro {
    background-image: url("../../images/bg4.png");
    background-size: cover;
    padding: 100px 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #fff;
}
#intro h1 {
    font-size: 48px;
}
#intro span {
    display: flex;
    gap: 15px;
    margin-top: 60px;
}
#intro span button {
    background-color: #fe2c55;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 600;
    padding: 10px;
    width: 300px;
    border-radius: 3px;
}
#outro {
    display: flex;
    flex-direction: column;
    padding: 100px 12%;
    align-items: center;
    width: 100%;
    gap: 70px;
}
#outro > div:first-child {
    text-align: center;

}
#outro > div:first-child h1 {
    font-size: 48px;
}
#outro > div:first-child p {
    font-size: 24px;
    color: #4f525a;
}
#outro-cards {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.card--item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 50px 15px;
    width: 30%;
    background-color: #fff;
    box-shadow: 2px 4px 20px rgb(34 90 89 / 20%);
    text-align: center;
    border-radius: 10px;
}
.card--item h4 {
    font-size: 24px;
}
.card--item span {
    width: 290px;
    height: 200px;
    background-size: cover;
}
#outro-cards .card--item:first-child span {
    background-image: url("../../images/card1.png");
}
#outro-cards .card--item:nth-child(2) span {
    background-image: url("../../images/card2.png");
}
#outro-cards .card--item:last-child span {
    background-image: url("../../images/card3.png");
}
#outro > div:nth-child(3) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 2px 4px 20px rgb(34 90 89 / 20%);
    width: 100%;
}
#outro > div:nth-child(3) span {
    display: flex;
    align-items: center;
    gap: 20px;
}
#outro > div:last-child {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
#outro > div:last-child button {
    background-color: #fe2c55;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 600;
    padding: 10px;
    border-radius: 5px;
}
#outro > div:last-child span {
    display: flex;
    gap: 40px;
}
#outro > div:last-child span a {
    color: #000;
    border-bottom: 2px solid #000;
    font-weight: 500;
}