@import url("../components/header.css");

header {
    padding: 0 1.5%;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f8f8;
    max-height: calc(100vh - 60px);
    overflow: hidden;
    width: 100%;
}
section:hover {
    overflow-y: overlay;
}
#add-video-part {
    background-color: #fff;
    box-shadow: rgb(0 0 0 / 6%) 0px 2px 8px;
    border-radius: 10px;
    padding: 24px 56px;
    width: 70%;
    margin: 20px 0;
}
#add-video-part > span {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 35px;
}
#add-video-part > span p:first-child {
    font-size: 24px;
    font-weight: 600;
}
#add-video-part > span p:last-child {
    color: #16182380;
    font-size: 19px;
}
#add-video-part > div {
    display: flex;
    gap: 20px;
}
#select-video {
    margin-top: 22px;
    border: 2px dashed rgba(22, 24, 35, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    gap: 20px;
    padding: 35px;
    height: 450px;
    position: relative;
}
#select-video .file {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
}
.file.upload #select-video {
    background-color: red;
}
#select-video:hover {
    border: 2px dashed #fe2c55;
    background-color: #f8f8f8;
}
#select-video p {
    color: #16182380;
    font-size: 14px;
}
#select-video button {
    background-color: #fe2c55;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 5px 20px;
    border-radius: 3px;
}
#settings-and-inputs {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.part-of-settings {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.part-of-settings > span {
    display: flex;
    justify-content: space-between;
}
.part-of-settings > div {
    display: flex;
    padding: 10px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}
.part-of-settings > .border {
    padding: 10px;
    border: 1px solid rgba(22, 24, 35, 0.12);
}
.part-of-settings > span p {
    font-size: 14px;
}
.part-of-settings input {
    width: 80%;
    border: none;
    outline: none;
}
.rect {
    display: block;
    background-color: #ebebeb;
    width: 85px;
    height: 150px;
}
#settings-and-inputs .part-of-settings:nth-child(3) div {
    width: 40%;
}
.part-of-settings select {
    border: none;
    width: 100%;
    outline: none;
}
.part-of-settings select option {
    width: 100%;
    height: 20px;
}
.part-of-settings .checkboxes {
    display: flex;
    justify-content: flex-start;
    gap: 24px;
}
.part-of-settings .checkboxes span {
    display: flex;
    gap: 8px;
}
#settings-and-inputs .part-of-settings:last-child p {
    font-size: 12px;
    color: #16182380;
    line-height: 24px;
}
#settings-and-inputs > span {
    display: flex;
    gap: 15px;
}
#settings-and-inputs > span button {
    font-size: 16px;
    font-weight: 500;
    width: 160px;
    height: 45px;
    border-radius: 3px;
    border: 1px solid #ebebeb;
}
#settings-and-inputs > span button:first-child {
    background-color: #fff;
}
#settings-and-inputs > span button:last-child {
    background-color: #ebebeb;
}
footer {
    background-color: #000;
    color: #fff;
    width: 100%;
    padding: 2% 10%;
}
footer > div:first-child {
    display: flex;
    gap: 100px;
}
.footer-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer-item p {
    font-size: 13px;
    font-weight: 500;
}
.footer-item .footer-item--p {
    color: #cccccc;
    position: relative;
    cursor: pointer;
    line-height: 20px;
}
.footer-item .footer-item--p::after {
    content: " ";
    position: absolute;
    display: none;
    bottom: -5px;
    width: 100%;
    height: 2px;
    border-bottom: 1px solid #cccccc;
}
.footer-item--p:hover.footer-item--p::after {
    display: flex;
}
footer > div:last-child {
    display: flex;
    justify-content: space-between;
}
footer select {
    background-color: #000;
    border: 1px solid #fff;
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
}
footer > div:last-child p {
    font-size: 14px;
}



