@import url("../components/header.css");
@import url("../components/section-left.css");

header {
    padding: 0 1.5%;
}

section {
    padding: 0 1.5%;
    display: flex;
    max-height: calc(100vh - 60px);
    justify-content: space-between;
}

#section-left {
    width: 15%;
}
#main-left-menu a:last-child p {
    color: #fe2c55;
}
#main-left-menu a:last-child svg {
    filter: invert(33%) sepia(66%) saturate(5384%) hue-rotate(332deg) brightness(101%) contrast(99%);
}
#section-right {
    width: 85%;
    overflow: hidden;
}
#section-right:hover {
    overflow-y: overlay;
}
#main-streams {
    display: flex;
    padding: 10px 12%;
    gap: 10px;
    background-color: #ebebeb;
}
#big-stream {
    width: 85%;
    background-color: #6c6c6c;
    display: flex;
    justify-content: space-between;
    padding: 1%;
}
#big-stream > div {
    height: 60px;
    align-items: center;
}
#big-stream > div:first-child {
    display: flex;
    gap: 10px;
}
#big-stream > div:first-child p {
    font-size: 14px;
    font-weight: 500;
}
#big-stream > div:last-child {
    display: flex;
    gap: 20px;
}
#big-stream > div:last-child span {
    display: flex;
    gap: 15px;
}
#big-stream > div:last-child span p {
    font-weight: 600;
    font-size: 14px;
}
.live-text {
    padding: 2px 5px;
    background: linear-gradient(131.17deg, rgb(255, 23, 100), rgb(237, 52, 149));
    color: #fff;
    border-radius: 2px;
}
#big-stream .streamer-avatar {
    display: flex;
    width: 40px;
    height: 40px;
    background-color: #000;
    border-radius: 100%;
}
#small-streams {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
#small-streams span {
    height: 100px;
    background-color: #6c6c6c;
    display: flex;
    align-items: flex-end;
    padding: 5px;
}
#other-streams {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 50px 2%;
}
.streams-row {
    display: flex;
    justify-content: space-between;
}
.streams-row--item {
    width: 23%;
}
.streams-row--item > span:first-child {
    height: 160px;
    display: flex;
    align-items: flex-end;
    padding: 5px;
    justify-content: space-between;
    background-color: #6c6c6c;
    border-radius: 5px;
}
.streams-row--item > span:last-child {
    display: flex;
    align-items: center;
    padding: 8px 0;
    gap: 10px;
}
.streams-row--item > span:last-child h4 {
    font-size: 16px;
    font-weight: 500;
}
.streams-row--item > span:last-child p {
    font-size: 14px;
    font-weight: 300;
    color: #16182380;
}
.row-avatar {
    display: block;
    width: 30px;
    height: 30px;
    background-color: #6c6c6c;
    border-radius: 100%;
}
